<section class="container">
  <link rel="stylesheet" href="{{ 'feature-section.css' | asset_url }}">
  {% assign selected_product_id = section.settings.selected_product_id %}
  {% assign product = all_products[selected_product_id] %}

  <div class="wrapper">
    <div class="img-wrapper">
      <h2>{{ product.title }}</h2>
      <img
        src="{{ product.featured_image.src | img_url: 'medium' }}"
        alt="{{ product.title }}"
        width=""
        height=""
      >
    </div>

    <div class="content-wrapper">
      <h3>Product Features</h3>

      <ul class="feature-points">
        <li>{{ section.settings.feature_bullet_point_1 }}</li>
        <li>{{ section.settings.feature_bullet_point_2 }}</li>
        <li>{{ section.settings.feature_bullet_point_3 }}</li>
        <li>{{ section.settings.feature_bullet_point_4 }}</li>
        <li>{{ section.settings.feature_bullet_point_5 }}</li>
      </ul>
      <button onclick="window.location.href='{{ section.settings.cta_button_link }}'" class="cta-button">
        {{ section.settings.cta_button_text }}
      </button>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Feature Section",
  "class": "feature-section",
  "tag": "section",
  "settings": [
  {
      "type": "product",
      "id": "selected_product_id",
      "label": "Select Product"
    },
  {"type": "text",
      "id": "feature_bullet_point_1",
      "label": "Feature Bullet Point 1",
      "default": "Add product feature 1"
    },
  {"type": "text",
      "id": "feature_bullet_point_2",
      "label": "Feature Bullet Point 2",
      "default": "Add product feature 2"
    },
  {"type": "text",
      "id": "feature_bullet_point_3",
      "label": "Feature Bullet Point 3",
      "default": "Add product feature 3"
    },
  {"type": "text",
      "id": "feature_bullet_point_4",
      "label": "Feature Bullet Point 4",
      "default": "Add product feature 4"
    },
  {"type": "text",
      "id": "feature_bullet_point_5",
      "label": "Feature Bullet Point 5",
      "default": "Add product feature 5"
    },
    {
      "type": "url",
      "id": "cta_button_link",
      "label": "CTA Button Link",
      "default": "/"
    },
    {
      "type": "text",
      "id": "cta_button_text",
      "label": "CTA Button Text",
      "default": "Shop Now"
    }],
  "presets": [{
    "name": "Feature Section"
  }]
}
{% endschema %}
